{
    "rules": {
        "quotes": [2, "single", "avoid-escape"],
        "no-use-before-define": [2, "nofunc"]
    },
    "env": {
        "node": true,
        "browser": true
    },
    "globals": {
        "describe": true,
        "beforeEach": true,
        "it": true,
        "inject": true,
        "expect": true
    }
}
